.table {
  margin-top: 20px;
  overflow: scroll;
  height: 886px;
  color: #6b5acc !important;
}

.table tr {
  display: flex;
  justify-content: space-between;
  border: none !important;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #efebff !important;
}
